In [3]:
import requests
import pandas as pd

In [6]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&outputsize=full&symbol=IBM&apikey=BCMW4XEPG0SP5IOT'
r = requests.get(url)
data = r.json()

In [8]:
time_series_data = data['Time Series (Daily)']

# Converting to a DataFrame
df = pd.DataFrame.from_dict(time_series_data, orient='index')
df.index.name = 'Date'
df.reset_index(inplace=True)

# Converting string values to numeric
df = df.apply(pd.to_numeric, errors='ignore')

# Renaming the columns by removing the number and period from the column names
df.columns = [col.split('. ')[1].capitalize() if '. ' in col else col for col in df.columns]

df.head()

         Date    Open     High       Low   Close   Volume
0  2023-11-22  154.50  155.705  154.1600  155.13  3045091
1  2023-11-21  154.60  154.660  153.5100  153.91  2859508
2  2023-11-20  152.51  154.680  152.3500  154.35  3658936
3  2023-11-17  153.29  153.500  152.4601  152.89  4426676
4  2023-11-16  153.00  153.350  152.1300  153.06  3519172

In [11]:
len(df)

6055